**/*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
**/*.jar
**/*.war
**/*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

**/src/test/resources/reports/output/*.*
**/src/test/resources/reports/output/**/*.*

# For maven
**/target/
**/test-output/*

# For Eclipse
**/.settings
**/.classpath
**/.factorypath
**/MANIFEST.MF
**/.springBeans

# For idea
**/.idea

# For nodejs or npm
**/node_modules/

# For temp files or folders
**/*.log*
**/tmp/
**/*.trc*
**/*l.orig
