<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <meta charset="UTF-8"></meta>
    <title>e-Services Admin Function</title>

    <link rel="stylesheet" href="/adminfunc/css/func-group.css"/>
    <script th:inline="javascript" type="text/javascript"  >
    /*<![CDATA[*/

    $(document).ready(function () {

        var submitBtnDom = jQuery('#submitBtn');
        submitBtnDom.on('click', function (e) {

            var selectedGrpId = $('#groupId option:selected').val();

            var form = e.target.form;
            $('#grpId').val(selectedGrpId);

            form.submit();
        });
    });


    /*]]>*/
    </script>

</head>
<body>
<div>

    <div layout:fragment="header(${ROOT})"></div>

    <div layout:fragment="content">
        <div class="content-padding">
            <div>
                <form id="submitForm" th:action="@{/e-Services-2/management/deleteFunctionGroup_Result.do}" method ="post">
                    <div class="flex-container">
                        <div class="flex-item-4">
                            <b><span th:text="${#messages.msg('umps.adminfunc.func.eservices2.management.func.searchFuncGrp')}"></span></b>
                        </div>
                        <div class="flex-item-7">
                            <select style="min-width: 150px;max-width: 550px;" th:id ="groupId" name ="groupId" th:field ="*{groupIds}" >
                                <option th:each ="allGroups : ${groupIds}"
                                        th:value="${{allGroups.groupId}}"
                                        th:text="${allGroups.groupId + '-' + allGroups.groupDesc} "></option>
                            </select>
                            <input type="hidden" name ="grpId" id ="grpId"/>
                        </div>
                    </div>

                    <div style="padding-top: 30px;">
                        <input class="SmallButtonStyle pointer" style="min-width: 80px;" type="button" id ="submitBtn"
                               th:value="${#messages.msg('umps.adminfunc.common.search')}" />
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>