<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <meta charset="UTF-8"></meta>
    <title>SMARTICS-2 Admin Function</title>

    <link rel="stylesheet" href="/adminfunc/css/enquiry-code.css"/>
    <script th:src="@{/smartics2/js/enquiry-code-info.js}"></script>
    <script th:src="@{/smartics2/js/common.js}"></script>

</head>
<body>
<div>

    <div layout:fragment="header(${ROOT})"></div>

    <div layout:fragment="content">
        <div class="content-padding">
            <div>
                <form id="searchForm" th:action="@{/smartics2/enquiry/enquiryCodeInformationSearchResult.do}" th:object="${enquiryCodeInformationDTO}"  method="post">
                    <div>
                        <div>
                            <b><span th:text="${#messages.msg('umps.adminfunc.common.searchCriteria')}"></span></b>
                        </div>
                        <div class="RowSeparatorThin"></div>
                        <div class="flex-container search-padding">
                            <div class="flex-item-1">

                            </div>
                            <div class="flex-item-3 search-field-left">
                                <b>
                                    <span th:text="${#messages.msg('umps.adminfunc.enquiryCodeInfo.appointmentType')}"></span>
                                </b>
                            </div>
                            <div class="flex-item-7">
                                <select id="appointmentType" name="appointmentType">
                                    <option value="">-- Please select an appointment type --</option>
                                    <option value="[ROPbooking] ROP Appointment Booking &amp; Form Pre-fill">[ROPbooking] ROP Appointment Booking &amp; Form Pre-fill</option>
                                </select>
                            </div>
                        </div>
                        <div class="RowSeparatorThin"></div>
                        <div class="flex-container search-padding">
                            <div class="flex-item-1">
                                <input type="radio" name="radioSearchCriteria" onclick="clearFields('hkic')"/>
                            </div>
                            <div class="flex-item-3 search-field-left">
                                <b>
                                    <span th:text="${#messages.msg('umps.adminfunc.enquiryCodeInfo.hkic')}"></span>
                                </b>
                            </div>
                            <div class="flex-item-7">
                                <input id="hkic" name="hkic" type="text" onclick="clearFields('hkic')"/>
                            </div>
                        </div>
                        <div class="RowSeparatorThin"></div>
                        <div class="flex-container search-padding">
                            <div class="flex-item-1">
                                <input type="radio" name="radioSearchCriteria" onclick="clearFields('tdNo')"/>
                            </div>
                            <div class="flex-item-3 search-field-left">
                                <b>
                                    <span th:text="${#messages.msg('umps.adminfunc.enquiryCodeInfo.tdNo')}"></span>
                                </b>
                            </div>
                            <div class="flex-item-7">
                                <input id="tdNo" name="tdNo" type="text" onclick="clearFields('tdNo')"/>
                            </div>
                        </div>
                        <div class="flex-container search-padding">
                            <div class="flex-item-1">

                            </div>
                            <div class="flex-item-3 search-field-left">
                                <b>
                                    <span th:text="${#messages.msg('umps.adminfunc.enquiryCodeInfo.dob')}"></span>
                                </b>
                            </div>
                            <div class="flex-item-7">
                                <span th:text="${#messages.msg('umps.adminfunc.enquiryCodeInfo.day')}"></span>
                                <input id="dobDay"  name="dobDay" type="number" style="width: 35px;" maxlength="2" onclick="clearFields('dobDay')" placeholder="dd"/>
                                <span th:text="${#messages.msg('umps.adminfunc.enquiryCodeInfo.month')}"></span>
                                <input id="dobMonth" name="dobMonth" type="number" style="width: 35px;" maxlength="2" onclick="clearFields('dobMonth')" placeholder="mm"/>
                                <span th:text="${#messages.msg('umps.adminfunc.enquiryCodeInfo.year')}"></span>
                                <input id="dobYear" name="dobYear" type="number" style="width: 100px;" maxlength="4" onclick="clearFields('dobYear')" placeholder="yyyy"/>
                            </div>
                        </div>
                        <div class="RowSeparatorThin"></div>
                    </div>

                    <div class="flex-container" style="padding-top: 10px;">
                        <div style="flex: auto;"></div>
                        <div style="padding: 15px;">
                            <input class="SmallButtonStyle pointer" id="submitBtn" style="min-width: 80px;" type="button" th:value="${#messages.msg('umps.adminfunc.common.search')}" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>