<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>

    <link rel="stylesheet" href="/adminfunc/css/style.css"></link>
    <link rel="stylesheet" href="/adminfunc/css/login-fail.css"></link>

    <script src="/adminfunc/js/lib/jquery-3.3.1.min.js"></script>
    <script src="/adminfunc/js/lib/lodash.min.js"></script>
    <script src="/adminfunc/js/lib/moment.min.js"></script>

    <script src="/adminfunc/js/common.js"></script>

    <script type="text/javascript"  >

        jQuery(document).ready(function () {
            $('#todayDate').html(today);
        });

    </script>

</head>

<body>
<div>
    <div class="flex-container">
        <div class="flex-item-1 header-item-left">
            <span>e-Services-2</span>
        </div>
        <div></div>
        <div class="flex-item-1 header-item-right">
                <span>Date:
                    <b id="todayDate"></b>
                </span>
        </div>
    </div>
    <div class="grid-container">
        <div class="grid-header">&nbsp;</div>
        <div class="flex-container grid-nav-container">
            <div class="flex-item-1 nav-title-left">
                <span style=" width: '100%'" >Error Page</span>
            </div>
            <div></div>
            <div class="flex-item-1 nav-title-right">
                <span style=" width: '100%' "></span>
            </div>
        </div>
        <div class="content-container flex-container">
            <div class="login-fail-container">
                    <span id="loginFailTitle" class="login-fail-title">
                        <b>Warning</b>
                    </span>

                <p id="loginFailContent" class="login-fail-content">
                     <b th:text="${#messages.msg('web.auth.nopermission')}"></b>
                </p>
                <a th:href="@{/landing}">
                    <input type="button" value="Go to Landing Page" />
                </a>
            </div>
        </div>
    </div>
</div>
</body>

</html>