<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <meta charset="UTF-8"></meta>
    <title>e-Services Admin Function</title>

    <link rel="stylesheet" href="/adminfunc/css/important-announcement.css"/>

    <!--<script th:inline="javascript" th:if="${scheduleJobDetailDTO}">-->
    <!--/*<![CDATA[*/-->

    <!--$(document).ready(function () {-->
    <!--// var jobList = [];-->
    <!--// var statusList = [];-->

    <!--var scheduleJobDetailDTO = [[${scheduleJobDetailDTO}]];-->
    <!--console.log('scheduleJobDetailDTO');-->
    <!--console.log(scheduleJobDetailDTO);-->
    <!---->
    <!--});-->

    <!--/*]]>*/-->
    <!--</script>-->

    <script>
        $(document).ready(function () {
            var anntEngDom = jQuery('#anntEng');
            var anntTradChinDom = jQuery('#anntTradChin');
            var anntSimpChinDom = jQuery('#anntSimpChin');

            var eng = '';
            var trad ='';
            var simp = '';

            eng = 'Important Notice:\n' +
                'Yuen Long Office will be relocated to the following address on 26 February 2018:\n' +
                '1/F, Yuen Long Government Offices, 2 Kiu Lok Square, Yuen Long, New Territories\n' +
                '\n' +
                'The existing office at Manhattan Plaza will be closed and cease providing services on the same day.\n' +
                'Services provided will not be affected during the relocation period.\n' +
                '\t\t\t\t\t\t\t';

            trad = '元朗辦事處將於二零一八年二月二十六日遷往以下地址 ﹕\n' +
                '新界元朗橋樂坊2 號元朗政府合署1樓\n' +
                '\n' +
                '現時位於富逹廣場的辦事處將於同日起關閉及停止服務。\n' +
                '在搬遷期間，辦事處所提供的服務將不受影響。\n' +
                '\t\t\t\t        \t';

            simp = '元朗办事处将于二零一八年二月二十六日迁往以下地址：\n' +
                '新界元朗桥乐坊2号元朗政府合署1楼\n' +
                '\n' +
                '现时位于富逹广场的办事处将于同日起关闭及停止服务。\n' +
                '在搬迁期间，办事处所提供的服务将不受影响。';

            anntEngDom.html(eng);
            anntTradChinDom.html(trad);
            anntSimpChinDom.html(simp);


        });
    </script>

</head>
<body>
<div>

    <div layout:fragment="header(${ROOT})"></div>

    <div layout:fragment="content">
        <div class="content-padding">
            <div>

                <div>
                    <div>
                        <span th:text="${#messages.msg('umps.adminfunc.importantAnnouncement.importAnntEditor')}"></span>
                    </div>
                    <div style="font-size: 12px;">
                        <span th:text="${#messages.msg('umps.adminfunc.importantAnnouncement.editFreeTextAnnt')}"></span>
                    </div>
                </div>

                <div>
                    <div style="padding-top: 30px;">
                        <div class="grid-page-header grid-page-header-text annt-header">
                            <span th:text="${#messages.msg('umps.adminfunc.importantAnnouncement.defineAppAffect')}"></span>
                        </div>
                        <div class="border-frame" style="padding: 1em 5%;">

                            <div>
                                <div class="flex-container">
                                    <div class="flex-item-1">
                                        <b><span th:text="${#messages.msg('umps.adminfunc.importantAnnouncement.currApp')}"></span></b>
                                    </div>
                                    <div class="flex-item-7">
                                        <div>
                                            <select class="annt-appl" multiple="" size="5" >
                                                <option value="">[527] Application for Access to General Information</option>
                                                <option value="">[584] Application for Access to Information with Personal Data</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-container">
                                    <div class="flex-item-auto"></div>
                                    <div>
                                        <span><input type="checkbox" /></span>
                                        <span th:text="${#messages.msg('umps.adminfunc.common.selectAll')}"></span>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="flex-container">
                                    <div class="flex-item-1">
                                        <b><span th:text="${#messages.msg('umps.adminfunc.importantAnnouncement.availApp')}"></span></b>
                                    </div>
                                    <div class="flex-item-7">
                                        <div>
                                            <select class="annt-appl" multiple="" size="5" >
                                                <option value="">[527] Application for Status Enquiry</option>
                                                <option value="">[584] Application for Certificate of Absence of Marriage Record</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-container">
                                    <div class="flex-item-auto"></div>
                                    <div>
                                        <span><input type="checkbox" /></span>
                                        <span th:text="${#messages.msg('umps.adminfunc.common.selectAll')}"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div style="padding-top: 30px;">
                        <div class="grid-page-header grid-page-header-text annt-header">
                            <span th:text="${#messages.msg('umps.adminfunc.importantAnnouncement.specifiyMainPeriod')}"></span>
                        </div>
                        <div class="border-frame free-text-frame ">

                            <div>
                                <b><span th:text="${#messages.msg('umps.adminfunc.importantAnnouncement.template')}"></span></b>
                                <select style="margin-left: 20px; width: 400px;">
                                    <option>--Please select a template--</option>
                                </select>
                                <input class="SmallButtonStyle pointer"  id="" style="min-width: 80px; margin-left: 20px;" type="button" th:value="${#messages.msg('umps.adminfunc.common.load')}" />
                            </div>

                            <div>
                                <div style="padding-top: 30px;">
                                    <div><b><span th:text="${#messages.msg('umps.adminfunc.lang.eng')}"></span></b></div>
                                    <div>
                                        <textarea class="announcement-textarea" id="anntEng"></textarea>
                                    </div>
                                </div>

                                <div style="padding-top: 30px;">
                                    <div><b><span th:text="${#messages.msg('umps.adminfunc.lang.tradChin')}"></span></b></div>
                                    <div>
                                        <textarea class="announcement-textarea" id="anntTradChin"></textarea>
                                    </div>
                                </div>

                                <div style="padding-top: 30px;">
                                    <div><b><span th:text="${#messages.msg('umps.adminfunc.lang.simpChin')}"></span></b></div>
                                    <div>
                                        <textarea class="announcement-textarea" id="anntSimpChin"></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div style="padding-top: 30px;">
                        <div class="grid-page-header grid-page-header-text annt-header">
                            <span th:text="${#messages.msg('umps.adminfunc.importantAnnouncement.specifiyEffectDateRange')}"></span>
                        </div>
                        <div class="border-frame free-text-frame ">
                            <div class="flex-container">
                                <div class="flex-item-1"></div>
                                <div class="flex-item-7">
                                    <div><span th:text="${#messages.msg('umps.adminfunc.importantAnnouncement.effectiveFrom')}"></span></div>
                                    <div class="annt-date-container">
                                        <div class="annt-date-content">
                                            <input type="text" class="annt-date-year" value="2017" />
                                            <div class="annt-date-value"><span>YYYY</span></div>
                                        </div>
                                        <div class="annt-date-content">
                                            <input type="text" class="annt-date-non-year" value="11" />
                                            <div class="annt-date-value"><span>MM</span></div>
                                        </div>
                                        <div class="annt-date-content">
                                            <input type="text" class="annt-date-non-year" value="25" />
                                            <div class="annt-date-value"><span>DD</span></div>
                                        </div>
                                        <div class="annt-date-content">
                                            <input type="text" class="annt-date-non-year" value="00" />
                                            <div class="annt-date-value"><span>hh</span></div>
                                        </div>
                                        <div class="annt-date-content">
                                            <input type="text" class="annt-date-non-year" value="00" />
                                            <div class="annt-date-value"><span>mm</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-item-1"></div>
                                <div class="flex-item-7">
                                    <div><span th:text="${#messages.msg('umps.adminfunc.importantAnnouncement.effectiveTo')}"></span></div>
                                    <div class="annt-date-container">
                                        <div class="annt-date-content">
                                            <input type="text" class="annt-date-year" value="2017" />
                                            <div class="annt-date-value"><span>YYYY</span></div>
                                        </div>
                                        <div class="annt-date-content">
                                            <input type="text" class="annt-date-non-year" value="11" />
                                            <div class="annt-date-value"><span>MM</span></div>
                                        </div>
                                        <div class="annt-date-content">
                                            <input type="text" class="annt-date-non-year" value="25" />
                                            <div class="annt-date-value"><span>DD</span></div>
                                        </div>
                                        <div class="annt-date-content">
                                            <input type="text" class="annt-date-non-year" value="12" />
                                            <div class="annt-date-value"><span>hh</span></div>
                                        </div>
                                        <div class="annt-date-content">
                                            <input type="text" class="annt-date-non-year" value="00" />
                                            <div class="annt-date-value"><span>mm</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-item-1"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-container" style="padding-top: 30px;">
                    <div style="flex: auto;"></div>
                    <div>
                        <a th:href="@{/e-Services-2/maintenance/importantAnnouncement_FreeTextCreateSuccess.do}">
                            <input class="SmallButtonStyle pointer" id="" style="min-width: 80px;" type="button" th:value="${#messages.msg('umps.adminfunc.common.save')}" />
                        </a>
                    </div>
                    <div style="padding-left: 10px;">
                        <a th:href="@{/e-Services-2/maintenance/importantAnnouncement.do}">
                            <input class="SmallButtonStyle pointer" id="" style="min-width: 80px;" type="button" th:value="${#messages.msg('umps.adminfunc.common.cancel')}" />
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
</body>
</html>