<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <meta charset="UTF-8"></meta>
    <title>e-Services Admin Function</title>

    <link rel="stylesheet" href="/adminfunc/css/important-announcement.css"/>

    <!--<script th:inline="javascript" th:if="${scheduleJobDetailDTO}">-->
    <!--/*<![CDATA[*/-->

    <!--$(document).ready(function () {-->
    <!--// var jobList = [];-->
    <!--// var statusList = [];-->

    <!--var scheduleJobDetailDTO = [[${scheduleJobDetailDTO}]];-->
    <!--console.log('scheduleJobDetailDTO');-->
    <!--console.log(scheduleJobDetailDTO);-->
    <!---->
    <!--});-->

    <!--/*]]>*/-->
    <!--</script>-->

    <script>
        $(document).ready(function () {
            var list = [];

            list = [
                {
                    'effectiveFrom': '30-11-2017',
                    'effectiveTo': '30-11-2017',
                    'application': '[527] Application for Access to General Information',
                    'type': 'Free',
                    'desc': 'Important Notice'
                }
            ];

            var grid = $("#dataGrid");
            var gridConfig = {
                width: '100%',
                height: '260px',

                sorting: true,
                noDataContent: 'NO data',
                selecting: false,

                autoload: true,

                // paging: true,
                // pageLoading: true,
                // pageSize: recordPerPage,

                data: list,

                // controller: {
                //     loadData: function (filter) {
                //         var startIndex = (filter.pageIndex - 1) * filter.pageSize;
                //         return {
                //             data: list.slice(startIndex, startIndex + filter.pageSize),
                //             itemCount: list.length
                //         };
                //     }
                // },

                fields: [
                    { name: 'effectiveFrom', title: 'Effective Date From', type: 'text', width: 10, headerTemplate: commonHeader },
                    { name: 'effectiveTo', title: 'Effective Date To', type: 'text', width: 10, headerTemplate: commonHeader },
                    { name: 'application', title: 'Application', type: 'text', width: 40, headerTemplate: commonHeader },
                    { name: 'type', title: 'Type', type: 'text', width: 10, headerTemplate: commonHeader },
                    { name: 'desc', title: 'Description', type: 'text', width: 20, headerTemplate: commonHeader },
                    {type: 'control', width: 10, headerTemplate: function () {
                            var title = '<span>Details</span>';
                            return title;
                        }, itemTemplate: function (value, item) {
                            var result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);

                            var str = '';

                            str += '<span>';
                            str += '<a class="RedLink pointer" href="http://localhost:8080/adminfunc/e-Services-2/maintenance/importantAnnouncement_FreeTextDetail.do">';
                            str += 'View / Edit';
                            str += '</a>';
                            str += '</span>';

                            result = str;

                            return result;
                        }}
                ]
            };
            grid.jsGrid(gridConfig);
        });
    </script>

</head>
<body>
<div>

    <div layout:fragment="header(${ROOT})"></div>

    <div layout:fragment="content">
        <div class="content-padding">
            <div>
                <div>
                    <h5>
                        <b><span th:text="${#messages.msg('umps.adminfunc.importantAnnouncement.importAnntSchedule')}"></span></b>
                    </h5>
                </div>

                <div style="margin-top: 1em;  ">
                    <!--<div class="flex-container grid-page-header">-->
                    <!--<div style="flex: auto;"></div>-->
                    <!--<div>-->
                    <!--<span class="grid-page-header-text" th:text="${#messages.msg('umps.adminfunc.common.pagination.recordPerPage')}"></span>-->
                    <!--<span>-->
                    <!--<select id="totalPager"></select>-->
                    <!--</span>-->
                    <!--<span class="grid-page-header-text" style="padding-left: 10px;" th:text="${#messages.msg('umps.adminfunc.common.pagination.pageNo')}"></span>-->
                    <!--<span>-->
                    <!--<select id="numPager"></select>-->
                    <!--</span>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div>
                        <div id="dataGrid"></div>
                    </div>
                    <div class="grid-page-header" style="height: 30px;">&nbsp;</div>
                </div>

                <div class="flex-container" style="padding-top: 30px;">
                    <div class="flex-item-1"></div>
                    <div class="flex-item-1">
                        <a th:href="@{/e-Services-2/maintenance/importantAnnouncement_FreeTextSelect.do}">
                            <input class="SmallButtonStyle pointer" id="" style="min-width: 80px;" type="button" th:value="${#messages.msg('umps.adminfunc.importantAnnouncement.editFreeTextTemplate')}" />
                        </a>
                    </div>
                    <div class="flex-item-1" style="padding-left: 10px;">
                        <a th:href="@{/e-Services-2/maintenance/importantAnnouncement_SystemMaintenanceCreate.do}">
                            <input class="SmallButtonStyle pointer" id="" style="min-width: 80px;" type="button" th:value="${#messages.msg('umps.adminfunc.importantAnnouncement.createSysMainAnnt')}" />
                        </a>
                    </div>
                    <div class="flex-item-1" style="padding-left: 10px;">
                        <a th:href="@{/e-Services-2/maintenance/importantAnnouncement_FreeTextCreate.do}">
                            <input class="SmallButtonStyle pointer" id="" style="min-width: 80px;" type="button" th:value="${#messages.msg('umps.adminfunc.importantAnnouncement.createFreeTextAnnt')}" />
                        </a>
                    </div>
                    <div class="flex-item-1"></div>
                </div>



            </div>
        </div>
    </div>

</div>
</body>
</html>