<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <meta charset="UTF-8"></meta>
    <title>e-Services Admin Function</title>

    <link rel="stylesheet" href="/adminfunc/css/schedule-job.css"/>

    <script th:inline="javascript" th:if="${createScheduleJobDTO}">
        /*<![CDATA[*/

        $(function () {
            var createScheduleJobDTO = [[${createScheduleJobDTO}]];
            console.log('createScheduleJobDTO');
            console.log(createScheduleJobDTO);

            if (isNotEmptyNullUndfined(createScheduleJobDTO)) {
                var jobName = createScheduleJobDTO['jobName'];
                var jobClass = createScheduleJobDTO['jobClass'];
                var cronExp = createScheduleJobDTO['cronExpression'];
                var dataMap = createScheduleJobDTO['dataMap'];
                var description = createScheduleJobDTO['description'];

                if (isNotEmptyNullUndfined(jobName)) {
                    var jobNameDom = $('#jobName');
                    jobNameDom.html(jobName);
                }
                if (isNotEmptyNullUndfined(jobClass)) {
                    var jobClassDom = $('#jobClass');
                    jobClassDom.html(jobClass);
                }
                if (isNotEmptyNullUndfined(cronExp)) {
                    var cronExpDom = $('#cronExp');
                    cronExpDom.html(cronExp);
                }
                if (isNotEmptyNullUndfined(dataMap)) {
                    var dataMapDom = $('#dataMap');
                    dataMapDom.html(dataMap);
                }
                if (isNotEmptyNullUndfined(description)) {
                    var descriptionDom = $('#description');
                    descriptionDom.html(description);
                }

            }

        });

        /*]]>*/
    </script>

</head>
<body>
<div>

    <div layout:fragment="header(${ROOT})"></div>

    <div layout:fragment="content">
        <div class="content-padding">
            <div class="border-frame global-success-frame " style="padding: 1em;">
                <div class="flex-container success-item-container">
                    <div class="success-item-left">
                        <span th:text="${#messages.msg('umps.adminfunc.schedulejob.view.search.field.jobname')}"></span>
                    </div>
                    <div class="success-item-right">
                        <span id="jobName"></span>
                    </div>
                </div>
                <div class="flex-container success-item-container">
                    <div class="success-item-left">
                        <span th:text="${#messages.msg('umps.adminfunc.schedulejob.view.search.field.jobClass')}"></span>
                    </div>
                    <div class="success-item-right">
                        <span id="jobClass"></span>
                    </div>
                </div>
                <div class="flex-container success-item-container">
                    <div class="success-item-left">
                        <span th:text="${#messages.msg('umps.adminfunc.schedulejob.view.search.field.cronexpression')}"></span>
                    </div>
                    <div class="success-item-right">
                        <span id="cronExp"></span>
                    </div>
                </div>
                <div class="flex-container success-item-container">
                    <div class="success-item-left">
                        <span th:text="${#messages.msg('umps.adminfunc.schedulejob.view.search.field.datamap')}"></span>
                    </div>
                    <div class="success-item-right">
                        <span id="dataMap"></span>
                    </div>
                </div>
                <div class="flex-container success-item-container">
                    <div class="success-item-left">
                        <span th:text="${#messages.msg('umps.adminfunc.schedulejob.view.search.field.description')}"></span>
                    </div>
                    <div class="success-item-right">
                        <span id="description"></span>
                    </div>
                </div>
            </div>

            <div class="success-label" th:text="${#messages.msg('umps.adminfunc.common.itemCreated')}"></div>

            <div style=" float: right; padding-top: 1em;">
                <a th:href="@{/e-Services-2/maintenance/scheduleJob.do}">
                    <input type="button" th:value="${#messages.msg('umps.adminfunc.common.back')}" class="ButtonStyle back-button pointer" style="margin-right: 20px;" />
                </a>
            </div>
        </div>
    </div>

</div>
</body>
</html>