<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <meta charset="UTF-8"></meta>
    <title>e-Services Admin Function</title>

    <script src="/adminfunc/js/lib/jquery-3.3.1.min.js"></script>
    <script src="/adminfunc/js/lib/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/adminfunc/js/lib/jquery-ui.css"/>
    <link rel="stylesheet" href="/adminfunc/css/schedule-job.css"/>

    <script th:inline="javascript" th:if="${scheduleJobViewHistoryDTO}">
    /*<![CDATA[*/

    $(document).ready(function () {

        $("#startDateFrom").datepicker({
            dateFormat: 'dd-M-y'
        });
        $("#startDateTo").datepicker({
            dateFormat: 'dd-M-y'
        });
        $("#endDateFrom").datepicker({
            dateFormat: 'dd-M-y'
        });
        $("#endDateTo").datepicker({
            dateFormat: 'dd-M-y'
        });


        var scheduleJobViewHistoryDTO = [[${scheduleJobViewHistoryDTO}]];
        console.log('scheduleJobViewHistoryDTO');
        console.log(scheduleJobViewHistoryDTO);

        if (isNotEmptyNullUndfined(scheduleJobViewHistoryDTO)) {
            var tmpJobList = scheduleJobViewHistoryDTO['scheduleJobViewHistoryList'];
            var jobStatusList = scheduleJobViewHistoryDTO['statusList'];

            if (isNotEmptyNullUndfined(tmpJobList) && tmpJobList.length > 0) {
                var jobListDom =jQuery('#jobList');

                var list = [];
                list.push('');
                jQuery.each(tmpJobList, function (index, object) {
                    var jobName = object['jobName'];
                    list.push(jobName);
                });
                generateSelectOptionByValue(jobListDom, list, false);
            }

            if (isNotEmptyNullUndfined(jobStatusList) && jobStatusList.length > 0) {
                var statusListDom =jQuery('#statusList');

                var list = [];
                jQuery.each(jobStatusList, function (index, object) {
                    var name = object['name'];

                    list.push(name);
                });
                generateSelectOptionByValue(statusListDom, list, true);
            }
        }

        var shouldIncludeSearchDateField = false;
        var submitBtnDom = jQuery('#submitBtn');
        submitBtnDom.on('click', function (e) {
            var form = e.target.form;
            if (validateStartDateRange() && validateEndDateRange()) {
                form.submit();
            }
        });
    });


    function validateStartDateRange() {
    var startDateFr = $('#startDateFrom').val();
    var startDateTo = $('#startDateTo').val();
        if (!isEmpty(startDateFr) && isEmpty(startDateTo) ) {
            alert('Start Time To should not be empty.');
            return false;
        } else if (isEmpty(startDateFr) && !isEmpty(startDateTo)) {
            alert('Start Time From should not be empty.');
            return false;
        } else {
            return true;
        }
    }

    function validateEndDateRange() {
    var endDateFr = $('#endDateFrom').val();
    var endDateTo = $('#endDateTo').val();
        if ( !isEmpty(endDateFr) && isEmpty(endDateTo) ) {
            alert('End Time To should not be empty.');
            return false;
        } else if (isEmpty(endDateFr) && !isEmpty(endDateTo)) {
            alert('End Time From should not be empty.');
            return false;
        } else {
            return true;
        }
    }

    function isEmpty(strIn) {
        if (strIn === undefined) {
            return true;
        } else if(strIn == null) {
            return true;
        } else if(strIn == "") {
            return true;
        } else {
            return false;
        }
    }

    /*]]>*/
    </script>

</head>
<body>
<div>

    <div layout:fragment="header(${ROOT})"></div>

    <div layout:fragment="content">
        <div class="content-padding">
            <div>
                <form id="submitForm" th:action="@{/e-Services-2/enquiry/scheduleJobViewHistory_Search.do}" method="post" >
                    <div>
                        <b><span th:text="${#messages.msg('umps.adminfunc.common.searchCriteria')}"></span></b>
                    </div>
                    <div >
                        <div class="RowSeparatorThin"></div>
                        <div class="flex-container search-padding">
                            <div class="flex-item-2 search-field-left"><b><span th:text="${#messages.msg('umps.adminfunc.schedulejob.view.history.search.field.jobname')}"></span></b></div>
                            <div class="flex-item-7">
                                <select id="jobList" name="jobName">
                                </select>
                            </div>
                        </div>
                        <div class="flex-container search-padding">
                            <div class="flex-item-2 search-field-left"><b><span th:text="${#messages.msg('umps.adminfunc.schedulejob.view.history.search.field.status')}"></span></b></div>
                            <div class="flex-item-7">
                                <select id="statusList" name="status">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>


                        <div class="flex-container search-padding">
                            <div class="flex-item-2 search-field-left">
                                <b><span th:text="${#messages.msg('umps.adminfunc.schedulejob.view.history.search.field.startTime')}"></span></b>
                            </div>
                            <div class="flex-item-3">
                                <input class="search-input-time" id="startDateFrom" name="startDateFrom" type="text" readonly="readonly" />
                                <input class="search-input-minute" id="startHourFrom" name="startHourFrom" type="text" maxlength="2" size="2" />
                                <span> : </span>
                                <input class="search-input-minute" id="startMinFrom" name="startMinuteFrom" type="text" maxlength="2" size="2" />
                                <span>(hh:mm)</span>
                            </div>
                            <div class="flex-item-4">
                                <span class="search-time-padding">To</span>
                                <input class="search-input-time" id="startDateTo" name="startDateTo" type="text" readonly="readonly" />
                                <input class="search-input-minute" id="startHourTo" name="startHourTo" type="text" maxlength="2" size="2" />
                                <span> : </span>
                                <input class="search-input-minute" id="startMinTo" name="startMinuteTo" type="text" maxlength="2" size="2" />
                                <span>(hh:mm)</span>
                            </div>
                        </div>
                        <div class="flex-container search-padding">
                            <div class="flex-item-2 search-field-left">
                                <b><span th:text="${#messages.msg('umps.adminfunc.schedulejob.view.history.search.field.endTime')}"></span></b>
                            </div>
                            <div class="flex-item-3">
                                <input class="search-input-time" id="endDateFrom" name="endDateFrom" type="text" readonly="readonly" />
                                <input class="search-input-minute" id="endHourFrom" name="endHourFrom" type="text" maxlength="2" size="2" />
                                <span> : </span>
                                <input class="search-input-minute" id="endMinFrom" name="endMinuteFrom" type="text" maxlength="2" size="2" />
                                <span>(hh:mm)</span>
                            </div>
                            <div class="flex-item-4">
                                <span class="search-time-padding">To</span>
                                <input class="search-input-time" id="endDateTo" name="endDateTo" type="text" readonly="readonly" />
                                <input class="search-input-minute" id="endHourTo" name="endHourTo" type="text" maxlength="2" size="2" />
                                <span> : </span>
                                <input class="search-input-minute" id="endMinTo" name="endMinuteTo" type="text" maxlength="2" size="2" />
                                <span>(hh:mm)</span>
                            </div>
                        </div>

                        <div class="RowSeparatorThin"></div>
                    </div>
                    <div class="flex-container" style="padding-top: 30px;">
                        <div style="flex: auto;"></div>
                        <div style="padding: 15px;">
                            <input class="SmallButtonStyle pointer" id="submitBtn" style="min-width: 80px;" type="button" th:value="${#messages.msg('umps.adminfunc.common.search')}" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>