<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="/adminfunc/css/style.css"/>

</head>
<body>

<div th:fragment="main-menu(menuObj)">
    <h3>header1</h3>

    <h3 th:text="${menuObj}"></h3>

    <span th:each="item, idx : ${ROOT.childern}">
        <!--<h4 th:text="${item.label}"></h4>-->
        <input type="radio" id="main-tab-" th:attrappend="id=${idx.index + 1}" name="main-tabs" checked="checked"/>
        <label for="main-tab-" th:attrappend="for=${idx.index + 1}" style="" url="${item.url}"
               th:text="${item.label}"></label>
    </span>
</div>

</body>
</html>