<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>

    <link rel="stylesheet" href="/adminfunc/css/style.css"/>

</head>
<body>


<div th:fragment="nav(navObj)" >
    <div class="flex-container grid-nav-container">
        <div class="flex-item-2 nav-title-left">
            <span style=" width: '100%'">
                <span th:each="item, iter: ${navObj}">
                    <span th:switch="${iter.index}">
                        <span th:case="0" class="nav-title-left">
                            <span th:text="${item.label}"></span>
                        </span>
                        <span th:case="*">
                            <a th:href="@{${item.url}}" class="nav-title-left nav-title">
                                <span th:text="${item.label}"></span>
                            </a>
                        </span>
                    </span>

                    <span th:if="( ${iter.index} != ( ${iter.size} -1 ) )" > > </span>
                </span>
            </span>
        </div>
        <div class="nav-title-right">
            <span style="width: 100%;" th:text="${FUNCTION_ID_KEY}"></span>
            <!--<span style="width: 100%;">AFE0001</span>-->
        </div>
    </div>
</div>

</body>
</html>