<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <meta charset="UTF-8"></meta>
    <title>e-Services Admin Function</title>

    <link rel="stylesheet" href="/adminfunc/css/surge-control.css"/>

    <script type="application/javascript">
        $(function () {
            let names = [
                {
                    'appID': '500',
                    'GST': '13/20',
                    'Desc': '',
                    'MST': '22/30',
                    'Priority': '1',
                    'Clawback': '123'
                }
            ];

            var getSurgeFieldFirstValue = function (value) {
                // console.log('getSurgeFieldFirstValue');
                // console.log(value);

                var tmpArr = value.split('/');
                var first = tmpArr[0];

                return first;
            };

            var getSurgeFieldSecondValue = function (value) {
                // console.log('getSurgeFieldSecondValue');
                // console.log(value);

                var tmpArr = value.split('/');
                var second = tmpArr[1];

                return second;
            };

            var SurgeField = function (config) {
                jsGrid.Field.call(this, config);
            };

            SurgeField.prototype = new jsGrid.Field({
                itemTemplate: function (value, item) {
                    var tmpArr = value.split('/');

                    var first = tmpArr[0];
                    var second = tmpArr[1];

                    var div = jQuery('<div></div>');
                    var span = jQuery('<span></span>').text(first);
                    var slash = jQuery('<span></span>').text('/');
                    var input = jQuery('<input />').val(second).css({ 'width': '30px' }).attr({ 'maxlength': '2' }).data('rowItem', item).on('change paste keyup', function () {
                        var newVal = jQuery(this).val();
                        var rowItem = jQuery(this).data('rowItem');
                        var oldValue = rowItem['GST'];

                        var first = getSurgeFieldFirstValue(oldValue);
                        var second = getSurgeFieldSecondValue(oldValue);


                        rowItem['GST'] = first + '/' + newVal;
                        console.log(rowItem);
                    });

                    div.append(span).append(slash).append(input);
                    return div;


                }
            });
            jsGrid.fields.surgeField = SurgeField;

            let grid = $("#surgeControlGrid");
            // console.log(grid);



            grid.jsGrid(
                {
                    width: '100%',
                    height: '100%',

                    sorting: true,
                    noDataContent: 'NO data',
                    selecting: false,
                    editing: false,

                    data: names,

                    // paging: true,
                    // pageSize: 5,
                    // pageButtonCount: 5,
                    // pagerContainer: '#externalPager',
                    // pagerFormat: `current page: {pageIndex}  &nbsp;&nbsp; {first} {prev} <select> <option> {pages} </option> </select>  {next} {last} &nbsp;&nbsp; total pages: {pageCount}`,
                    // pagePrevText: 'prev',
                    // pageNextText: 'next',
                    // pageFirstText: 'first',
                    // pageLastText: 'last',
                    // pageNavigatorNextText: '&#8230;',
                    // pageNavigatorPrevText: '&#8230;',

                    fields: [
                        { name: 'appID', title: 'App ID', type: 'text', width: 40, headerTemplate: commonHeader },
                        { name: 'GST', title: 'GST (Usage/Assigned)', type: 'surgeField', width: 80, headerTemplate: commonHeader },
                        { name: 'desc', title: 'Description', type: 'text', width: 50, headerTemplate: commonHeader },
                        { name: 'MST', title: 'MST (Usage/Assigned)', type: 'text', width: 80, headerTemplate: commonHeader },
                        { name: 'Priority', title: 'Priority', type: 'text', width: 40, headerTemplate: commonHeader, editable: true, edittype: 'select', editoptions: {value: "ALFKI:ALFKI;WOLZA:WOLZA"}   },
                        { name: 'Clawback', title: 'Clawback', type: "checkbox", editType: 'checkbox', width: 80, headerTemplate: commonHeader, editoptions: { value: 'true:false' }, formatter: 'checkbox', formatoptions: {disabled: false } },
                        {
                            type: 'control',
                            headerTemplate: function () {
                                let title = '<span></span>';
                                return title;
                            },
                            itemTemplate: function (value, item) {
                                // let result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);



                                var updateButton = jQuery('<button></button>').addClass('SmallButtonStyle').data('rowItem', item).text('Update').on('click', function (e) {
                                    var rowItem = jQuery(this).data('rowItem');
                                    console.log(rowItem);

                                    var form = jQuery('<form style="display: none;" method="POST" th:action="@{/e-Services-2/maintenance/surgeControl_Updated.do}"></form>');

                                    jQuery.each(rowItem, function (key, value) {
                                        console.log('key: ' + key + ' , value: ' + value);

                                        var input = jQuery('<input name="' + key + '" value="' + value + '" />');
                                        form.append(input);
                                    });

                                    jQuery(this).append(form);

                                    form.submit();


                                });

                                // for

                                return updateButton;
                            },
                            modeSwitchButton: false,
                            editButton: false,
                            deleteButton: false
                        }
                    ]
                }
            )
        });
    </script>

</head>
<body>
<div>


    <div layout:fragment="header(${ROOT})"></div>

    <div layout:fragment="content" style="">
        <div class="content-padding">



            <div style=" margin-top: 1.5em; width: 100%; height: 200px;">
                <div id="surgeControlGrid"></div>
            </div>
            <div class="data-grid-footer">&nbsp;</div>

            <div class="flex-container" style="padding-top: 10px;">
                <div class="flex-item-1" >
                    <span>Share Ticket Pool(Usage/Assigned): 3067/6000</span>
                </div>
                <div class="flex-item-1" style="min-width: 320px; ">
                    <a th:href="@{/e-Services-2/maintenance/surgeControl.do}">
                        <input type="text" class="ButtonStyle edit-btn" th:value="${#messages.msg('umps.adminfunc.common.cancel')}" />
                    </a>
                </div>
            </div>



            <div style="padding-top: 10px;">
                <div th:replace="fragments/surge-control-footer::surgeControlFooter" ></div>
            </div>



        </div>
    </div>


</div>
</body>
</html>