<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
    <head>
        <title>Layout page</title>

        <script src="/adminfunc/js/lib/jquery-3.3.1.min.js"></script>
        <script src="/adminfunc/js/lib/lodash.min.js"></script>
        <script src="/adminfunc/js/lib/moment.min.js"></script>

        <script src="/adminfunc/js/lib/jsgrid-1.5.3/jsgrid.min.js"></script>
        <script src="/adminfunc/js/lib/loader.js"></script>
        <script src="/adminfunc/js/lib/bootstrap/bootstrap.min.js"></script>

        <script th:inline="javascript" src="/adminfunc/js/common.js"></script>

        <link rel="stylesheet" href="/adminfunc/js/lib/jsgrid-1.5.3/jsgrid-custom.css"/>
        <link rel="stylesheet" href="/adminfunc/js/lib/jsgrid-1.5.3/jsgrid-theme-custom.css"/>
        <link rel="stylesheet" href="/adminfunc/js/lib/bootstrap/bootstrap-custom.css" />

        <link rel="stylesheet" href="/adminfunc/css/style.css"/>

        <script th:inline="javascript" th:if="${FUNC_ID}">
            /*<![CDATA[*/

            $(function () {
                var FUNC_ID = [[${FUNC_ID}]];
                console.log('FUNC_ID');
                console.log(FUNC_ID);
            });

            /*]]>*/
        </script>

        <script type="text/javascript" th:inline="javascript" th:if="${NAVBAR}">
            /*<![CDATA[*/

            $(function () {
                var navBarList = [[${NAVBAR}]];
                console.log('layout_nav');
                console.log(navBarList);
            });

            /*]]>*/
        </script>

        <script type="text/javascript" th:inline="javascript" th:if="${ROOT}">
            /*<![CDATA[*/

            $(function () {
                var root = [[${ROOT}]];
                console.log('root');
                console.log(root.child);
            });

            /*]]>*/
        </script>

    </head>

    <body>
        <div>
            <div layout:fragment="header(menuObj)">
                <div class="flex-container">
                    <div class="flex-item-1 header-item-left">
                        <span>e-Services-2</span>
                    </div>
                    <div></div>
                    <div class="flex-item-1 header-item-right">
                        <span>| userID:
                            <b th:text="${LOGIN_USER.displayName}"></b> |</span>
                        <span>Date:
                        <b id="todayDate"></b>
                    </span>
                    </div>
                </div>
                <div class="grid-container" style="border-radius: 20px 20px 0 0; ">
                    <div class="main-menu" >
                        <span style="margin-left: 30px;"></span>

                        <span th:each="item, idx : ${MENU.child}" >
                            <input type="radio" id="main-tab-" th:attrappend="id=${idx.index + 1}" name="main-tabs" th:checked="( ${NAVBAR[0].label} == ${item.label} )"  />
                            <label for="main-tab-" th:attrappend="for=${idx.index + 1}" class="nav-title nav-border-left" url="${item.url}"
                                   th:text="${item.label}" th:onclick="'navigatePage('+${(idx.index + 1)}+', true);'"  ></label>
                        </span>

                        <span class="TopLabel nav-title nav-border-right" style=" ">
                            <a th:href="@{/AUTH/logout.do}" class="exit-btn">
                                <b>Exit</b>
                            </a>
                        </span>
                    </div>
                </div>

                <div th:replace="fragments/navigation::nav(${NAVBAR})"></div>

            </div>

            <div class="grid-container " style="height: 600px; overflow-y: scroll;">
                <div layout:fragment="content">
                    <p>Page content goes here</p>
                </div>
            </div>

        </div>
    </body>
</html>