<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"></meta>
    <title>e-Services Admin Function</title>

    <script th:src="@{js/lib/jquery-3.3.1.min.js}"></script>
    <script th:src="@{js/lib/lodash.min.js}"></script>
    <script th:src="@{js/lib/moment.min.js}"></script>

    <script th:src="@{js/common.js}"></script>

    <link rel="stylesheet" th:href="@{/js/lib/bootstrap/bootstrap-custom.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}"></link>



    <script type="text/javascript"   >

        var selectedCat = 1;
        $(function () {
            console.log('ready');

            updateNavTitle();

            bindTabChange(".sub-menu", onSubCatSelected);
            bindTabChange(".main-menu > ", onMainCatSelected);


            var hash = window.location.hash;
            if (hash !== '' ) {
                hash = hash.substr(1);
                console.log('hash: ' + hash);

                selectedCat = parseInt(hash);
            }
            $('#main-tab-' + selectedCat).prop('checked', 'checked');
            $("#sub-tab-" + selectedCat +"-1 ").change().prop( "checked" , 'checked');
        });

    </script>

</head>

<body>
    <div>

        <div th:if="${userDTO}">
            <div class="flex-container">
                <div class="flex-item-1 header-item-left">
                    <span>e-Services-2</span>
                </div>
                <div></div>
                <div class="flex-item-1 header-item-right">
                    <span>| userID:
                            <b th:text="${LOGIN_USER.displayName}"></b> |</span>
                    <span>Date:
                    <b id="todayDate"></b>
                </span>
                    <!-- <a th:href="@{/noPerlmission.do}">No Permission</a> -->
                </div>
            </div>
            <div class="grid-container " style="border-radius: 20px 20px 0 0; height: 400px;">
                <div class="main-menu">
                    <span></span>
                    <th:block th:each="firstLvMenu,firstLvMenuRow : ${MENU.child}">
                        <input th:attr="id=${'main-tab-' + (firstLvMenuRow.index+1)}" th:value="${(firstLvMenuRow.index+1)}" type="radio" name="main-tabs"  />
                        <label th:attr="for=${'main-tab-' + (firstLvMenuRow.index+1)}" class="nav-title nav-border-left" th:text="${firstLvMenu.label}"></label>
                    </th:block>
                    <span class="TopLabel nav-title nav-border-right" style=" ">
                        <a th:href="@{/AUTH/logout.do}" class="exit-btn">
                            <b>Exit</b>
                        </a>
                    </span>


                    <div class="main-content" th:each="firstLvMenu,firstLvMenuRow : ${MENU.child}" th:attr="id=${'main-content-' + (firstLvMenuRow.index+1)}">
                        <div class="flex-container grid-nav-container">
                            <div class="flex-item-1 nav-title-left">
                            <span>
                                <span>
                                    <span class="nav-title-left">
                                        <span th:text="${firstLvMenu.label}" style=" width: 100%">e-Services-2 </span>
                                    </span>
                                </span>
                            </span>
                           <span> > </span>
                            <span>
                                <span>
                                    <span class="nav-title-left">
                                        <span th:attr="class=${#strings.replace(firstLvMenu.label,'-','') + 'SubCat'} "></span>
                                    </span>
                                </span>
                            </span>
                            </div>
                        </div>
                        <div class="content-container ">
                            <div class="menu-container flex-container ">
                                <div class="flex-item-1">&nbsp;</div>
                                <div class="sub-menu">
                                    <th:block th:each="secondLvMenu,secondLvMenuRow : ${firstLvMenu.child}">
                                        <input id="sub-tab-" name="sub-tabs-1" th:attrappend="id=${(firstLvMenuRow.index+1)+'-' + (secondLvMenuRow.index+1)}"
                                               th:attr="data=${#strings.replace(firstLvMenu.label,'-','') + '_' + #strings.replace(secondLvMenu.label,'-','')}" type="radio" />
                                        <label th:attr="for=${'sub-tab-' +(firstLvMenuRow.index+1) + '-' + (secondLvMenuRow.index+1)}" th:text="${secondLvMenu.label}">Enquiry</label>
                                    </th:block>
                                    <th:block th:each="secondLvMenu,secondLvMenuRow : ${firstLvMenu.child}">
                                        <div id="sub-content-" th:attrappend="id=${(firstLvMenuRow.index+1) + '-' + (secondLvMenuRow.index+1)}">
                                            <ul class="func-parent">
                                                <li class="func-child" th:each="thridLvMenu,thridLvMenuRow : ${secondLvMenu.child}" >
                                                    <a class="func-bullet" th:href="@{${thridLvMenu.url}}" th:text="${thridLvMenu.label}"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </th:block>
                                </div>
                                <div class="flex-item-1">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>