<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" ></meta>
    <title>Administrative (Functions)</title>
</head>
<body>
<div sec:authentication="name">
    The value of the "name" property of the authentication object should appear here.
</div>
submit.html
<form th:action="@{/AUTH/login.html}" method="post">

    <div th:if="${param.error}">
        <div class="alert alert-danger">
            Invalid username and password.
        </div>
    </div>
    <div th:if="${param.logout}">
        <div class="alert alert-info">
            You have been logged out.
        </div>
    </div>
    <p th:if="${loginError}" class="error">Wrong user or password</p>

    <div th:if="${param.error}" class="alert alert-error">
        Invalid username and password.
    </div>
    <div class="error" th:if="${param.error}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
        Reason1: <span th:text="${errorMsg}">Wrong input!</span>
    </div>
    <div class="error" th:if="${param.errorMsg}">
        Reason2: <span th:text="${param.errorMsg[0]}">Wrong input!</span>
    </div>

    <input name="user.userId" value="SCUSER08" />
    <input name="user.password" value="password" />
    <button>Submit</button>
</form>
</body>
</html>